body {
	background: url("images/owl-faded.jpg") no-repeat;
}

#loading {
	display: none;
	color: green;
	font-weight: bold;
}

#success {
	font-weight: bold;
	font-size: 1.3em;
}

.uploadbox {
	margin-top: 2em;
	margin-left: 2em;
}

.flat {
	display: inline;
	margin-left: 20px;
}

textarea {
	border: 2px solid black;
}

textarea:focus {
	border: 2px solid #555;
}
